@import "tailwindcss";
@import '../styles/Breakpoints.css';
@import '../styles/Sections.css';
@import '../styles/Graidents.css';
@import '../styles/Slider.css';
@import '../styles/Configs.css';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden !important;
}
body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
}
